.ChartBox-zone {
	width: 100%;
	background-color: white;
	color: black;
}

.ChartBox-functionZone {
	position:relative;
	display: inline-block;
	margin-left: 50%;
	transform: translate(-50%, 0);
	padding: 10px 0px;

	input {
    margin: 0 10px;
	}

	button {
    vertical-align: middle;
	}
}
